{% macro map( googleKey='', ideas=[], editorInputElementId='' ) %}
	
	<script src="https://maps.googleapis.com/maps/api/js?key={{googleKey}}"></script>
	<script src="/js/openstad-map.js"></script>
	<div id="map" style="width: 100%; height: 100%;"></div>

	<script>

	 var markers = [
		 // {% for idea in ideas %}
		 // {% if (idea.location) and (idea.status !=  'DENIED' or ideas.length == 1) %}
		 {
			 position: JSON.parse('{{idea.location | dump | safe}}' || null),
			 icon     : {
				 url    : {% if ( idea.status == 'DONE' ) or (idea.status == 'ACCEPTED') or (idea.status == 'BUSY') %}'/img/idea/flag-blue.svg'{% elseif ( idea.status == 'CLOSED' ) or (idea.status == 'DENIED') %}'/img/idea/flag-gray.svg'{% else %}'/img/idea/flag-red.svg'{% endif %},
				 size   : [22, 24],
				 anchor : [ 4, 21],
			 },
			 href: '/plan/{{idea.id}}',
			 status: '{{idea.status}}',
			 endDate: '{{idea.endDate}}',
		 },
		 // {% endif %}
		 // {% endfor %}
	 ]

	 // delete old markers when there are too many
	 let selectedMarkers = [];
	 if (markers.length > 20) {
		 markers.forEach(function(marker) {
			 let select = true;
			 if (marker.status ==  'CLOSED') {
				 let datediff = new Date().getTime() - new Date(marker.endDate).getTime();
				 if ( datediff > 1000 * 60 * 60 * 24 * 90 ) {
					 select = false;
				 }
			 }
			 if (select) {
				 selectedMarkers.push(marker);
			 }
		 });
	 } else {
		 selectedMarkers = markers
	 }

	 if ('{{editorInputElementId}}') {
		 var editorInputElement = document.getElementById('{{editorInputElementId}}');
		 var editorMarker = {
			 icon     : {
				 url    : '/img/idea/flag-red.svg',
				 size   : [22, 24],
				 anchor : [ 4, 21],
			 }
		 }
	 }

	 var map = new OpenStadMap(
		 {% if config.openStadMap.markerStyle %}{{ config.openStadMap.markerStyle | dump | safe }}{% else %}null{% endif %},
		 {% if config.openStadMap.polygonStyle %}{{ config.openStadMap.polygonStyle | dump | safe }}{% else %}null{% endif %},
		 editorInputElement,
		 editorMarker
	 );
	 map.createMap(
		 {% if config.openStadMap.defaults %}{{ config.openStadMap.defaults | dump | safe }}{% else %}null{% endif %},
		 selectedMarkers,
		 {% if config.openStadMap.polygons and config.siteId and config.openStadMap.polygons[config.siteId] %}{{ config.openStadMap.polygons[config.siteId] | dump | safe }}{% else %}null{% endif %}
	 )
	 
	</script>

{% endmacro %}
