<div id="login-required" class="content-modal content-modal--s">
  <div class="content-modal-content">

    <h3 class="inlog-modal-title" style="text-align: center">
      Hiervoor moet je ingelogd zijn.
    </h3>
    <p>

    </p>
    <br />
    <br />

    <div class="center" style="text-align: center;">
      <a href="#closed" class="btn-primary btn-primary--grey">
        Annuleren
      </a>
      <a href="/oauth/login?returnTo={{data.currentUrl}}" class="btn-primary btn-primary--blue">
        <img src="{{appUrl}}/img/arrow.svg" />
        <span>Inloggen</span>
      </a>
    </div>

    <a href="#closed" class="content-modal-close" >
      <img src="{{appUrl}}/img/close-white.svg" width="17" height="17"/>
    </a>
  </div>
</div>
