<div class="row row-eq-height--desktop relative padding-bottom-l">
  <div class="col-sm-4 col-xs-12 text-center">
    <div>
			<div class="">
				<img src="/img/westbegroot/main-money.svg" />
			</div>
			{% if config.budgeting.isActive %}
				<h3>
					Verdeel € 300.000 over jouw favoriete plannen
				</h3>
				<p>
					Woon je in West en ben je 18 jaar of ouder? Alle bewoners uit West van 18 jaar en ouder ontvangen per post een stemcode om tussen 16 januari en 13 februari 2019 te kunnen stemmen op plannen op West Begroot.
				</p>
				<div class="row-footer--desktop text-center">
					<a href="/stemmen" class="btn--blue ">
						Begin meteen met stemmen
					</a>
				</div>
			{% else %}
				<h3>
					Bewoners verdeelden<br/>€ 300.000 over plannen
				</h3>
				<p>
					Alle bewoners uit West van 18 jaar en ouder konden stemmen op hun favoriete plannen voor West. Op 16 februari 2019 wordt bekend gemaakt welke plannen uitgevoerd worden.
				</p>
				<div class="row-footer--desktop text-center">
					<a href="/plannen" class="btn--blue ">
						Bekijk de plannen
					</a>
					<br/>
					<a href="/img/westbegroot/Uitslag.West.Begroot_20190215.pdf" class="btn--blue" style="background-color: #a8b900; margin-top: 10px;">
						Download de uitslag
					</a>
				</div>
			{% endif %}
    </div>
    <br class="visible-xs" /> 
    <br class="visible-xs" />
  </div>
  <div class="col-sm-4 col-xs-12 text-center">
    <div>
			<div>
				<img src="/img/westbegroot/main-info.svg" />
			</div>
			<h3>
				Wil je meer informatie over West Begroot?
			</h3>
			{% if config.budgeting.isActive %}
				<p>
					Hoe ziet het stemproces eruit en hoe wordt bepaald welke plannen uiteindelijk uitgevoerd worden?
				</p>
			{% else %}
				<p>
					Hoe zag het stemproces eruit? Wat waren de spelregels en hoe werd bepaald welke plannen uiteindelijk uitgevoerd gaan worden?
				</p>
			{% endif %}
			<div class="row-footer--desktop text-center">
  			<a href="#howDoesItWork" class="btn--blue scroll-link">
  				Lees hier hoe het werkt
  			</a>
      </div>
    </div>
    <br class="visible-xs" />
    <br class="visible-xs" />
  </div>
  <div class="col-sm-4 col-xs-12 text-center">
    <div>
      <div class="">
        <img src="/img/westbegroot/main-hammer.svg" />
      </div>
      <h3>
        Hoe zijn de ingestuurde plannen beoordeeld?
      </h3>
			{% if config.budgeting.isActive %}
				<p>
					Van de 209 ingestuurde plannen zijn er 30 geselecteerd voor de stemfase van West Begroot. Zit jouw plan niet bij de geselecteerde plannen op de pagina '{% if config.budgeting.isActive %}Stemmen{% else %}Plannen{% endif %}'? Klik op onderstaande knop om te zien wat het oordeel is over de ingestuurde plannen.
				</p>
			{% else %}
				<p>
					Van de 209 ingestuurde plannen werden er 30 geselecteerd voor de stemfase van West Begroot. Zat jouw plan niet bij de geselecteerde plannen? Klik op onderstaande knop om te zien wat het oordeel is over de ingestuurde plannen.
				</p>
			{% endif %}
      <div class="row-footer--desktop text-center">
        <a href="/originele-plannen" class="btn--blue">
          Bekijk het archief
        </a>
      </div>
    </div>
    <br class="visible-xs" />
    <br class="visible-xs" />
  </div>
</div>
