{% macro mobileMenu() %}
	<div id="mobile-menu" class="visible-xs">
		<a href="/#page" class="mobile-menu-item scroll-link">
			<img src="/img/westbegroot/mobiel-nav-home.svg" height="20" />
			Start
		</a>
		<a href="/#howDoesItWork" class="mobile-menu-item scroll-link">
			<img src="/img/westbegroot/mobiel-nav-info.svg" height="20" />
			Info
		</a>
		<a href="/stemmen" class="mobile-menu-item scroll-link">
			<img src="/img/westbegroot/mobiel-nav-send.svg" style="height: 39px; margin: -8px auto -8px auto;" />
			Stemmen
		</a>
	</div>
{% endmacro %}
