{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}
{% import 'apostrophe-palette-widgets:macros.html' as palette %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }}
  {% elseif data.page %}
    {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
{{ palette.stylesheetLink(data.global) }}
{{ palette.stylesheetTag() }}

{% if data.global.favicon %}
<link rel="icon" href="{{apos.attachments.url(data.global.favicon)}}">
{% endif %}

{% if data.idea %}
{% set activeIdea = data.idea %}
<meta property="og:title" content="{{activeIdea.title}}">
<meta property="og:type" content="website">
<meta property="og:description" content="{{activeIdea.summary}}">
<meta property="og:locale" content="nl_NL">
<meta property="og:image" content="{{activeIdea.extraData.images[0]}}">
{% else %}
  {% if data.global.fbImage %}
  <meta property="og:image" content="{{apos.settings.getOption('appUrl')}}{{apos.attachments.url(data.global.fbImage)}}">
  {% endif %}
{% endif %}

{% endblock %}
{% block beforeMain %}
{% if data.user %} <!-- be sure to somehow safegaurd against non-editor situations, as performance could unnecessarily suffer -->
  {{ palette.palette(data.global, 'palette') }}
{% endif %}
    {% if not (data.query.layout === 'none') %}
    <header>
        <div class="container relative">
            <div class="row">
                <div class="col-xs-12">
                  <a href="{{appUrl}}/" class="logo-container">
                    {% if data.global.siteLogo %}
                    <img src="{{apos.attachments.url(data.global.siteLogo)}}" alt="logo" id="logo-image">

                    {% else %}
                    <img src="/img/andreas.svg" alt="logo">
                    <div id="amsterdam">
                        Gemeente<br>Amsterdam
                    </div>
                    {% endif %}
                  </a>
                  <h2 class="header-subtitle">
                    {{data.global.siteTitle}}
                  </h2>
                </div>

            </div>
        </div>
    </header>
    {% include 'partials/flash.html' %}
    <div id="page">
      <nav id="navbar" class="navbar navbar-static-top">
        <div class="container">
          <button type="button" class="navbar-toggle visibility-toggle body-backdrop-toggle" data-target=".navbar-menu">
            <span class="sr-only">Toggle navigation</span>
            <div class="visible-active">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </div>
            <div class="hidden-active">
              <span class="glyphicon glyphicon-remove"></span>
            </div>
          </button>
          <a href="#" class="account-menu-toggle visibility-toggle body-backdrop-toggle" data-target=".account-menu">
          <div class="visible-active">
            <span class="glyphicon glyphicon-user"></span>
          </div>
          <div class="hidden-active">
            <span class="glyphicon glyphicon-remove"></span>
          </div>
          </a>
          <div class="account-menu toggle-menu">
            <nav  class="" role="navigation">
              <div>
                  {% if data.loggedIn %}
                  <a href="/oauth/logout" >Uitloggen</a>
                  {% else %}
                   <a href="/oauth/login">
                     Mijn account
                   </a>
                  {% endif %}
              </div>
            </nav>
          </div>
          <div class="navbar-menu toggle-menu">
            <nav id="mainMenu" class="navbar navbar-expand-lg navbar-light ">
              <ul class="nav navbar-left">
                <li class="nav-item">
                  <a href="{{ data.home._url }}" class="nav-link">{{ data.home.title }}</a>
                </li>
                {% for tab in data.home._children %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ tab._url }}">
                    {{ tab.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>

        			<nav id="subMenu" class="" role="navigation">
        				<div>
        						{% if data.loggedIn %}
      							<a href="/oauth/logout" class="account">Uitloggen</a>
        						{% else %}
      						   <a href="/oauth/login" class="account">
                       Mijn account
                     </a>
        						{% endif %}
                    {% if data.global.ctaButtonText %}
                    <a href="{{data.global.ctaButtonUrl}}" class="menu-cta-button">{{data.global.ctaButtonText}}</a>
                    {% endif %}
        				</div>
        			</nav>
            </nav>
          </div>
        </div>
      </nav>
    {% endif %}

    {% endblock %}

    {% block main %}
      {#
        Usually, your page templates in the apostrophe-pages module will override
        this block. It is safe to assume this is where your page-specific content
        should go.
      #}
    {% endblock %}


{% block afterMain %}
{% if not (data.query.layout === 'none') %}

<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-xs-12">
						<h2>Over deze site</h2>
						<ul>
							<li><a href="/disclaimer">Disclaimer</a></li>
						</ul>
					</div>
					<div class="col-sm-3 col-xs-12">
						<h2>Meer informatie</h2>
						<ul>
							<li><a href="https://www.amsterdam.nl/javabrug" target="_blank">Volg de project­pagina op amsterdam.nl</a></li>
						</ul>
					</div>
					<div class="col-sm-3 col-xs-12">
						<h2>Contact</h2>
						<p>
							Heb je een vraag of het gebruik van de site? Wij horen het graag
						</p>
						<ul>
							<li><a href="mailto:javabrug@amsterdam.nl">Stuur een e-mail</a></li>
						</ul>
					</div>
					</div>
				</div>
		</footer>
    <div class="body-background" style="display: none;"></div>

</div>
{% endif %}

{% endblock %}
