{# Automatically extends the right outer layout and also handles AJAX siutations #}
{% extends data.outerLayout %}
{% import 'apostrophe-palette-widgets:macros.html' as palette %}


{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
  {% if data.piece %}
    {{ data.piece.title }}
  {% elseif data.page %}
    {{ data.page.title }}
  {% else %}
    {{ apos.log('Looks like you forgot to override the title block in a template that does not have access to an Apostrophe page or piece.') }}
  {% endif %}
{% endblock %}

{% block extraHead %}
{{ palette.stylesheetLink(data.global) }}
{{ palette.stylesheetTag() }}
{% endblock %}
{% block beforeMain %}
{% if data.user %} <!-- be sure to somehow safegaurd against non-editor situations, as performance could unnecessarily suffer -->
  {{ palette.palette(data.global, 'palette') }}
{% endif %}
    {% if not (data.query.layout === 'none') %}
    <header>
        <div class="container relative">
            <div class="row">
                <div class="col-xs-12">
                  <a href="{{appUrl}}/" class="logo-container">
                    {% if data.global.siteLogo %}
                    <img src="{{apos.attachments.url(data.global.siteLogo)}}" alt="logo" id="logo-image">

                    {% else %}
                    <img src="/img/andreas.svg" alt="logo">
                    <div id="amsterdam">
                        Gemeente<br>Amsterdam
                    </div>
                    {% endif %}
                  </a>
                  <h2 class="header-subtitle">
                    {{data.global.siteTitle}}
                  </h2>
                </div>

            </div>
        </div>
    </header>

    <div id="page">
      <nav id="navbar" class="navbar navbar-static-top">
        <div class="container">
          <div class="navbar-menu toggle-menu">
            <nav id="mainMenu" class="navbar navbar-expand-lg navbar-light ">
              <ul class="nav navbar-left">
                <li class="nav-item">
                  <a href="{{ data.home._url }}" class="nav-link">{{ data.home.title }}</a>
                </li>
                {% for tab in data.home._children %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ tab._url }}">
                    {{ tab.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>

        			<nav id="subMenu" class="" role="navigation">
        				<div>
        						{% if data.loggedIn %}
        							<a href="/oauth/logout" class="account">Uitloggen</a>
        						{% else %}
        						   <a href="/oauth/login" class="account">
                         Mijn account
                       </a>
        						{% endif %}
        				</div>
        			</nav>
            </nav>
          </div>
        </div>
      </nav>
    {% endif %}

    {% endblock %}

    {% block main %}
      {#
        Usually, your page templates in the apostrophe-pages module will override
        this block. It is safe to assume this is where your page-specific content
        should go.
      #}
    {% endblock %}


{% block afterMain %}
{% if not (data.query.layout === 'none') %}

<footer>
			<div class="container">
				<div class="row">
					<div class="col-sm-3 col-xs-12">
						<h2>Over deze site</h2>
						<ul>
							<li><a href="/disclaimer">Disclaimer</a></li>
						</ul>
					</div>
					<div class="col-sm-3 col-xs-12">
						<h2>Meer informatie</h2>
						<ul>
							<li><a href="https://www.amsterdam.nl/javabrug" target="_blank">Volg de project­pagina op amsterdam.nl</a></li>
						</ul>
					</div>
					<div class="col-sm-3 col-xs-12">
						<h2>Contact</h2>
						<p>
							Heb je een vraag of het gebruik van de site? Wij horen het graag
						</p>
						<ul>
							<li><a href="mailto:javabrug@amsterdam.nl">Stuur een e-mail</a></li>
						</ul>
					</div>
					</div>
				</div>
		</footer>
</div>
{% endif %}

{% endblock %}
