{% extends 'base.njk' %}
{% import 'includes/openstad-map.njk' as openStadMap %}
{% import 'includes/numberplatebutton.njk' as numberPlateButton %}
{% import 'includes/hoe-werkt-het.html' as hoeWerktHet %}

{% set contentClass = 'index' %}

{% block contentFullWidth %}

	<div class="pageContent {{contentClass}}">
		{% include 'partials/main-icons.njk' %}
	</div>

	{{hoeWerktHet.showBlock('open')}}

	<div class="pageContent {{contentClass}}">
		<div class="primary">
			<div id="achtergrondinformatie" class="text" name="info" id="info">

				<h3>Waarom West Begroot?</h3>
				<p>Stadsdeel West maakt elk jaar gebiedsplannen. In deze gebiedsplannen staat waar het stadsdeel dat jaar extra in investeert. In 2019 wil West meer doen met ‘Groen en Openbare ruimte’, ‘Duurzaamheid’ en ‘Diversiteit en Inclusiviteit’. Omdat bewoners zelf vaak de beste ideeën hebben voor hun buurt, heeft het bestuur van West geld vrij gemaakt voor bewoners: om zelf met plannen te komen die bijdragen aan deze drie thema’s en om zelf te begroten.</p>

				<h3>Wat ging eraan vooraf?</h3>
				<p>
					In oktober 2018 hebben bewoners, ondernemers en organisaties samen maar liefst 209 plannen<sup>*</sup> ingediend! Op deze plannen is 21.635 keer gestemd. 167 Plannen kregen meer dan 50 positieve likes en werden getoetst op haalbaarheid. Dat leverde 94 haalbare plannen op. Van deze 94 overgebleven plannen heeft de stadsdeelcommissie 30 plannen geselecteerd waarover bewoners uit West nu € 300.000 kunnen verdelen.<br/><br/>
					<span style="font-size: 14px"><sup>*</sup>Oorspronkelijk werden er 216 plannen ingediend, maar nadat een aantal plannen door de indieners zelf zijn teruggetrokken bleven er 209 plannen over.</spn>
				</p>

				<h3>De meest populaire plannen worden uitgevoerd</h3>
				<p>
					De plannen die het vaakst zijn gekozen door bewoners van West en die binnen het budget passen worden uitgevoerd. Op 16 februari 2019 wordt bekend gemaakt welke plannen uitgevoerd worden met daarbij een uitleg hoe deze uitslag tot stand is gekomen.
				</p>

				{% if not config.budgeting.isActive %}

					<ul class="links-list">
						<li><a href="/img/westbegroot/Uitslag.West.Begroot_20190215.pdf">Download de uitslag</a></li>
					</ul>
					<br/>
					<ul class="links-list">
						<li><a href="/plannen">Bekijk de plannen</a></li>
					</ul>
				{% endif %}
				
				<h3>Spelregels</h3>
				<ul class="checkmark-dot-list">
					<li>Wie mogen er stemmen? Alle personen van 18 jaar en ouder, die op 14 december 2018 stonden ingeschreven op een adres in Stadsdeel West, kunnen stemmen.</li>
					<li>Hoe kun je stemmen? Je kunt vanaf 16 januari 2019 stemmen via de pagina 'Stemmen' van deze website met de persoonlijke stemcode die je in de brievenbus hebt gekregen. Je kiest jouw favoriete plannen totdat je een bedrag van € 300.000 hebt bereikt. Zie ook <a href="#howDoesItWork">'Hoe werkt het?'</a></li>
					<li>Hoe wordt de uitslag bepaald? De plannen met de meeste stemmen die samen maximaal € 300.000,- bedragen, zullen worden uitgevoerd. Op 16 februari 2019 wordt de uitslag gepubliceerd met daarbij een uitleg hoe deze uitslag tot stand is gekomen.</li>
					<li>Wanneer kan er gestemd worden? Je kan stemmen vanaf 9:00 uur op 16 januari 2019 tot en met 13 februari 23:59 uur.</li>
					<li>Mensen die niet zo handig zijn met computers of niet online kunnen of willen stemmen, kunnen uiteraard hulp zoeken van buren of familieleden. Of ze zijn van harte welkom met hun brief en legitimatiebewijs op 13 februari in buurthuis De Klinker. Details over de locatie en stemtijden staan in de brief met de persoonlijke code of vind je onder <a href="/veelgestelde-vragen">veelgestelde vragen</a>.</li>
					<li>Hoe wordt de uitslag bekend gemaakt, wanneer en waar? Het Dagelijks Bestuur maakt op 16 februari 2019 de uitslag bekend via deze website. Ook zal de uitslag op <a href="https://www.facebook.com/stadsdeelwest/">facebook</a> en via de digitale nieuwsbrief van Stadsdeel West worden gecommuniceerd.</li>
					<li>Waar kun je terecht met vragen? Check hier eerst de <a href="/veelgestelde-vragen">veelgestelde vragen</a>. Als je niet een antwoord hebt kunnen vinden op je vraag, mail deze dan naar <a href="mailto:westbegroot@amsterdam.nl">westbegroot@amsterdam.nl</a> of bel 020 2531317 (tijdens kantooruren).</li>
				</ul>

			</div>
		</div>

		<div class="secondary">

			<div id="agenda">
				<h3>Tijdlijn</h3>

				<div class="agenda">


					<div class="box-grey agenda-period">
						<div>
							<h3>1 t/m 31 oktober 2018</h3>
							Plannen insturen op de 3 thema’s
						</div>
					</div>

					<div class="box-grey agenda-period">
						<div>
							<h3>1 oktober t/m 7 november 2018</h3>
							Campagne voeren en op plannen stemmen
						</div>
					</div>

					<div class="box-grey agenda-period">
						<div>
							<h3>8 november t/m medio december 2018</h3>
							Haalbaarheidstoets ingestuurde plannen
						</div>
					</div>

					<div class="box-grey agenda-period">
						<div>
							<h3>December 2018</h3>
							Stadsdeelcommissie selecteert 30 plannen voor de stemfase
						</div>
					</div>

					<div class="box-grey agenda-day">
						<div>
							<h3>9 januari 2019</h3>
							Bekendmaking 30 plannen voor de stemfase
						</div>
					</div>

					<div class="box-grey agenda-period">
						<div>
							<h3>16 januari t/m 13 februari 2019</h3>
							West Begroot: bewoners verdelen €300.000 over de 30 plannen
						</div>
					</div>

					<div class="box-grey agenda-day">
						<div>
							<h3>16 februari 2019</h3>
							Winnende plannen worden bekend gemaakt
						</div>
					</div>

				</div>

			</div>

		</div>

	</div>

	<div style="clear: both; height: 20px;"></div>
	<div class="pageContent {{contentClass}}">
		<ul class="share">
			<li><a class="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{url}}">Facebook</a></li>
			<li><a class="twitter"  target="_blank" href="https://twitter.com/home?status={{url}}">Twitter</a></li>
			<li><a class="email"    target="_blank" href="mailto:?subject=West Begroot">Email</a></li>
		</ul>
		<br/>
		<br/>
	</div>

{% endblock %}

