@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;0,800;1,400;1,600;1,700&display=swap');

header a:visited h1,
h1,
body,
.default-select,
.checkbox .checkbox-label,
.radio .radio-label,
.btn-secondary,
.logo-container #amsterdam,
body, h1, h2, h3, h4, h5, h6, p,.btn, #amsterdam,
.radio .radio-label, #navbar .nav-link a {
    font-family: 'Poppins', sans-serif;
}

#mainMenu a, #mainMenu .menu-cta-button {
    font-size: 14px;
}

.filled-button, .outlined-button, .next-button, .menu-cta-button {
    font-size: 14px;
    padding: 11px 26px;
}